<body>
  <mat-card class="background">
  <div class="wrapper">
      <h2>Neon</h2>
      <form>
        <input type="text" placeholder="Username" name="Username">
  
        <input type="password" placeholder="Password" name="password">
  
        <input type="password" placeholder="Confirm Password" name="password">

        <input type="text" placeholder="Zipcode" name="zipcode">

        <input type="text" placeholder="Mobile number" name="Mobile number">

        <input type="submit" value="Signup">
      </form>
  </div>
  </mat-card>
  </body>